<div class="main-content text-center">
  <h2>Track your orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Delivery Id</th>
        <th>Status</th>
        <th>Ordered on</th>
        <th>Expected Delivery</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of userOrders">
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.createdAt.split('T')[1].slice(0,8)}}</td>
        <td>{{order.delivery}}</td>
      </tr>
    </tbody>
  </table>
</div>
