<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Exquisite Eats</a>
    </div>
    <div class="">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/order">Order</a></li>
        <li><a href="/track">Track</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="hero-image">
  <h1 id="hero-title">EXQUISITE EATS</h1>
</div>
<router-outlet></router-outlet>
